// fonts
$fontGloria:'Gloria Hallelujah', cursive;
$fontIndia: 'Indie Flower', cursive;
$fontInconsolata: 'Inconsolata', monospace;
$fontKalam: 'Kalam', cursive;
$fontPatrick: 'Patrick Hand', cursive;
$fontOpenSans: 'Open Sans', sans-serif;
$fontRoboto: 'Roboto Slab', serif;
$fontShawdows: 'Shadows Into Light', cursive;


// colors
$whiteColor: white;
$blackColor: black;
$mottoColor: rgb(197, 195, 195);
$pinkColor: #DD4CB1;
$purpleColor: #9F3CC1;
$indigoColor: #2E1580;
$blueColor: #1D1FD1;
$yellowColor: #FFE48A;
$notFoundColor: #1A1C1E;