@import 'core/reset';
@import 'core/variables';

.page {
    background: $indigoColor;
}

.main {
    min-height: calc(100vh - 105px - 230px);
    display: flex;
    flex-direction: column;
    align-items: center;
}