@import 'core/variables';
@import 'core/mixins';

.header {
    display: flex;
    flex-direction: column;
    background: $blackColor;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    box-shadow: inset -10px -10px 50px -20px $blueColor;
    // flex-direction: column;
    // align-items: center;
    // align-content: center;
    // text-align: center;
    font-family: $fontGloria;
    padding: 10px;
    opacity: 0.85;
    z-index: 1;

    @include tablet {
            height: 90px;
            justify-content: left;
            align-items: inherit;   
        }
    

    &__titleContainer {
        display: flex;
        padding: 10px;
    }

    &__img {
        margin-right: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: 5px double $yellowColor;
        box-shadow: 0 0 20px $yellowColor;

        @include tablet {
            width: 100px;
            height: 100px;
            border-radius: 100px;
            margin: 10px 20px 0;
        }
    }

    &__title {
        color: $whiteColor;
        font-size: 30px;
        
        @include tablet {
            font-size: 48px;
        }
    }
}