@import './core/mixins.scss';
@import './core/variables.scss';

.header {
    display: flex;
    flex-direction: column;
    background: $blackColor;
    justify-content:flex-start;
    width: 100%;
    height: 105px;
    position: fixed;
    top: 0;
    padding: 15px 10px 10px 10px;
    opacity: 0.85;
    z-index: 1;

    @include tablet {
            height: 110px;
            padding: 15px 10px 15px 10px;
        }
    
    @include superdesktop {
            height: 130px;
        }
    

    &__titleContainer {
        display: flex;
    }

    &__img {
        margin-right: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: 5px double $yellowColor;
        box-shadow: 0 0 20px $yellowColor;

        @include tablet {
            width: 80px;
            height: 80px;
            border-radius: 80px;
        }
        
        @include superdesktop {
            width: 100px;
            height: 100px;
            border-radius: 100px;
        }
    }

    &__title {
        font-family: $fontGloria;
        color: $whiteColor;
        font-size: 27px;
        
        @include tablet {
            font-size: 42px;
        }

        @include superdesktop {
            font-size: 52px;
        }
    }
}