@import 'core/variables';
@import 'core/mixins';

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
//    position: relative;
//    z-index: -1;
    background: url('../images/ricky-morty-4pkk.png') center no-repeat;
    // box-shadow: 0 0 50px #ddd;
    width: 100%;
    height: 230px;
    background-size: cover;

        @include tablet {
            height: 300px;
        }

        @include desktop {
            height: 350px;
        }

         @include superdesktop {
            height: 700px;
        }
}
