@import '../core/variables';
@import '../core/mixins';

.filters__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: $whiteColor;
    font-family: $fontGloria;
    text-transform: uppercase;
}

.filter {
    display: flex;
    flex-direction: column;
    padding: 5px 10px 0;
    font-size: 14px;

    &__select {
        font-family: $fontRoboto;
        height: 30px;
        &:focus {
        outline: 0 none;
        }
    }
}