@import '../core/variables';
@import '../core/mixins';

.filterByName {
  display: flex;
  align-self: flex-end;
  margin-top: 2px;

    @include tablet {
      margin: -50px 20px 0;
    }

    @include superdesktop {
      margin-right: 70px;
    }
  &__form {
    &--input {
    width: 165px;
    font-family: $fontKalam;
    font-size: 14px;
    border: none;
    outline: 0 none;
    color: inherit;
    padding: 2px 2px 2px 10px;

    &:focus {
      outline: 0 none;
    }

      @include tablet {
        font-size: 18px;
        width: 200px;
      }
    }
  }
  
}

